@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap');
*{box-sizing: border-box}
body,html {
    height: 100%;
}
body {
    background-color: #232323;
    margin: 0;
    line-height: 1.42857143;
    font-size: 1.2em;
    color: blueviolet;
    font-family:'Montserrat', sans-serif ;
}
header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 30px;
}
header h2 {
    margin: 0;
}
header ul {
    margin: 0;
    list-style: none;
}
header ul li {
    display:inline-block;
    margin-right: 8px;
    border-right: 3px solid blueviolet;
    padding-right: 10px;
    line-height: 1;
}
header ul li:hover{
    color: blue;
    cursor: pointer;
}
main {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    box-shadow: 0 0 8px cadetblue;
}
.level-1, .level-2, .level-3, .level-4, .level-5, .level-6 {
    width:800px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
             
}
.level-2, .level-3, .level-4, .level-5, .level-6 {
    display: none;  /* display="none" */
}
.img-holder{
    flex-basis: 50%;
}
.thumb{
    width: 100%;
    height: 100%;
}

.img-holder-2, .img-holder-3{
    flex-basis: 33.333%;
}
.img-holder-4, .img-holder-5, .img-holder-6 {
    flex-basis: 25%;
}
.finished {
    color: gold;
}

@media (max-width: 440px) {
    .level-1, .level-2, .level-3, .level-4, .level-5, .level-6{
        width: 100%;
        height: 100%;              
    }
    
    body {
        font-size: 10px;
    }
    
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    }
    
    header h2 {
        font-size: 20px;
        margin-left: 10px;
    }
    
    header ul {
        margin: 0;
        list-style: none;
        font-size: 15px;
    }
    
    header ul li {
        display: inline-block;
        line-height: 2;
        border-right: none;
        padding-right: 5px;
    }
  
  }



